#!/usr/bin/env ruby

# Compass requirements
require 'compass'
Compass.add_project_configuration('config.rb')

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

# filters
compile '/styles/*' do
  filter :sass, Compass.sass_engine_options
end
compile "/scripts/*" do
  # Do Nothing!
end
compile "/images/*" do
  # Do Nothing!
end
compile "/ajax/*" do
  # Do Nothing!
end
compile "/fonts/*" do
  # Do Nothing!
end
compile '*' do
  filter :haml
  layout 'default'
end

# routes
route '/styles/*' do
  item.identifier.chop + '.css'
end
route '/scripts/*' do
  item.identifier.chop + '.js'
end
route '/images/*' do
  item.identifier.chop + '.' + item[:extension]
end
route '/ajax/*' do
  item.identifier.chop + '.' + item[:extension]
end
route '/fonts/*' do
  item.identifier.chop + '.' + item[:extension]
end
route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml, :format => :html5
