%article{:class => "three"}
  %h2
    My Jams
  %p
    Stuff and Things

%article{:class => "three"}
  %h2
    My Shows
  %p
    Stuff and Things

%article{:class => "three"}
  %h2
    My Tools
  %p
    Stuff and Things