--- 
browser_title: Web Developer, World Traveler
navigation_title: Home
url: index
---

%h1
  I'm a cyclist, skier, reader, tea drinker, and budding vegan chef.

%section{:class => "three first"}
  %h2
    My Jams
  %h3
    Currently listening to
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales dolor eget massa faucibus id porttitor velit mollis. Donec quis felis purus, nec feugiat felis. Vivamus auctor, augue ac ullamcorper blandit, libero eros rhoncus libero, tempus pulvinar ante est quis sapien. In placerat velit non nunc pharetra malesuada quis sed mi. Maecenas quis felis tellus. Ut malesuada dictum rutrum. Cras enim risus, porta vel rhoncus sed, lobortis at libero. Maecenas dapibus, leo in pharetra euismod, justo turpis commodo augue, vel fringilla turpis mauris quis magna. Etiam vulputate diam a massa viverra at malesuada erat tristique. Pellentesque orci dolor, cursus vitae gravida sed, mattis iaculis orci. Cras mollis adipiscing metus, rhoncus facilisis arcu sodales sit amet.

%section{:class => "three"}
  %h2
    My Shows
  %h3
    Currently watching
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales dolor eget massa faucibus id porttitor velit mollis. Donec quis felis purus, nec feugiat felis. Vivamus auctor, augue ac ullamcorper blandit, libero eros rhoncus libero, tempus pulvinar ante est quis sapien. In placerat velit non nunc pharetra malesuada quis sed mi. Maecenas quis felis tellus. Ut malesuada dictum rutrum. Cras enim risus, porta vel rhoncus sed, lobortis at libero. Maecenas dapibus, leo in pharetra euismod, justo turpis commodo augue, vel fringilla turpis mauris quis magna. Etiam vulputate diam a massa viverra at malesuada erat tristique. Pellentesque orci dolor, cursus vitae gravida sed, mattis iaculis orci. Cras mollis adipiscing metus, rhoncus facilisis arcu sodales sit amet.

%section{:class => "three last"}
  %h2
    My Tools
  %h3
    Currently using
  %ul{:class => "tools"}
    %li
      %a{:href => "http://www.apple.com/macbookpro/", :target => "_blank"}
        %img{:src => "/images/icons/macbook-bw.png", :title => "Macbook Pro", :alt => "Macbook Pro"}
    %li
      %a{:href => "http://www.activestate.com/komodo-ide", :target => "_blank"}
        %img{:src => "/images/icons/komodo-bw.png", :title => "Komodo", :alt => "Komodo"}
    %li
      %a{:href => "http://www.iterm2.com/", :target => "_blank"}
        %img{:src => "/images/icons/iterm-bw.png", :title => "iTerm", :alt => "iTerm"}
    %li
      %a{:href => "https://www.linux.com/", :target => "_blank"}
        %img{:src => "/images/icons/linux-bw.png", :title => "Linux", :alt => "Linux"}
    %li
      %a{:href => "http://www.apache.org/", :target => "_blank"}
        %img{:src => "/images/icons/apache-bw.png", :title => "Apache", :alt => "Apache"}
    %li
      %a{:href => "http://www.mysql.com/", :target => "_blank"}
        %img{:src => "/images/icons/mysql-bw.png", :title => "MySQL", :alt => "MySQL"}
    %li
      %a{:href => "http://www.php.net/", :target => "_blank"}
        %img{:src => "/images/icons/php-bw.png", :title => "PHP", :alt => "PHP"}
    %li
      %a{:href => "http://nanoc.stoneship.org/", :target => "_blank"}
        %img{:src => "/images/icons/nanoc-bw.png", :title => "Nanoc", :alt => "Nanoc"}
    %li
      %a{:href => "http://www.ruby-lang.org/en/", :target => "_blank"}
        %img{:src => "/images/icons/ruby-bw.png", :title => "Ruby", :alt => "Ruby"}
    %li
      %a{:href => "http://haml-lang.com/", :target => "_blank"}
        %img{:src => "/images/icons/haml-bw.png", :title => "Haml", :alt => "Haml"}
    %li
      %a{:href => "http://sass-lang.com/", :target => "_blank"}
        %img{:src => "/images/icons/sass-bw.png", :title => "Sass", :alt => "Sass"}
    %li
      %a{:href => "http://jquery.com/", :target => "_blank"}
        %img{:src => "/images/icons/jquery-bw.png", :title => "jQuery", :alt => "jQuery"}
    %li
      %a{:href => "http://git-scm.com/", :target => "_blank"}
        %img{:src => "/images/icons/git-bw.png", :title => "Git", :alt => "Git"}
    %li
      %a{:href => "http://www.panic.com/transmit/", :target => "_blank"}
        %img{:src => "/images/icons/transmit-bw.png", :title => "Transmit", :alt => "Transmit"}
    %li
      %a{:href => "http://www.alfredapp.com/", :target => "_blank"}
        %img{:src => "/images/icons/alfred-bw.png", :title => "Alfred", :alt => "Alfred"}
    %li
      %a{:href => "http://adium.im/", :target => "_blank"}
        %img{:src => "/images/icons/adium-bw.png", :title => "Adium", :alt => "Adium"}
    %li
      %a{:href => "http://www.google.com/chrome", :target => "_blank"}
        %img{:src => "/images/icons/chrome-bw.png", :title => "Google Chrome", :alt => "Google Chrome"}