---
browser_title: Freelance Web Development, Salt Lake City, Utah
url: index
meta_description: "William Youmans is a web developer available for hire. He specializes in object oriented PHP, Javascript, and Ruby on Rails."
---

%h1
  I'm a <span itemprop="jobTitle">software developer</span>, avid oudoorsman, and tea<br>
  enthusiast living in <span itemprop="addressLocality">Salt Lake City, Utah</span>.

%section.grid_7
  %h2
    My Distractions
  .distraction
    %h3
      Currently listening to
    %table.distraction
      %tr
        %td
          %img{:src => "/images/content/music/band_of_horses.jpg", :alt => "Band of Horses"}
        %td
          %a{:href => "http://www.last.fm/music/Band+of+Horses/_/The+Great+Salt+Lake"}
            Great Salt Lake
          <br>by Band of Horses<br>

  .distraction
    %h3.second
      Currently watching
    %table.distraction
      %tr
        %td
          %img{:src => "/images/content/movies/veronica_mars.jpg", :alt => "Veronica Mars"}
        %td
          %a{:href => "http://www.amazon.com/Veronica-Mars-Complete-First-Season/dp/B000A59PMO/bobbharr-20"}
            Veronica Mars
          <br>Genre: Mystery<br>

  .distraction
    %h3.second
      Currently reading
    %table.distraction
      %tr
        %td
          %img{:src => "/images/content/books/rails.jpg", :alt => "Development with Rails"}
        %td
          %a{:href => "http://www.amazon.com/Agile-Development-Rails-Pragmatic-Programmers/dp/1934356549/bobbharr-20"}
            Agile Web Development with Rails
          <br>by Sam Ruby<br>

%section.grid_10
  %h2
    My Projects
  %h3
    Currently working on
  %p
    I am working on several exciting projects: <a href="http://www.nodelove.com" target="_blank">Node Love</a> is a nifty little MongoDB driven Node.js starter template, <a href="http://camelize.com/" target="_blank">Camelize Me</a>
    is a little tool that converts arbitrary text to camel case, <a href="http://www.utahranks.com" target="_blank">
    Utah Ranks</a> is a simple ranking and statistics repository for the state of Utah,
    <a href="https://github.com/klanoma/simple-php-framework" target="_blank">Simple PHP Framework</a>
    is a custom PHP framework I use for client work based on an open source project from
    <a href="http://clickontyler.com/simple-php-framework/">Tyler Hall</a>, and I am always working on a few
    <a href="http://www.imdb.com/title/tt0088286/" target="_blank">super top secret</a> ventures.
  %h3.second
    Currently learning
  %p
    My favorite thing at the moment is the <a href="http://nanoc.stoneship.org/" target="_blank">Nanoc</a> static site generator.
    I am also learning cool <a href="http://www.w3.org/TR/html5-author/history.html#history" target="_blank">HTML5 browser
    history manipulation</a> magic, the inner workings of the <a href="http://www.archlinux.org/" target="_blank">Arch Linux</a> distro,
    <a href="http://www.ruby-lang.org/en/" target="_blank">Ruby</a>, <a href="http://jashkenas.github.com/coffee-script/" target="_blank">
    CoffeeScript</a>, <a href="http://en.wikipedia.org/wiki/Scalability" target="_blank">application scalability</a>,
    the art of <a href="http://en.wikipedia.org/wiki/Zen" target="_blank">Zen</a>, and how to use
    <a href="http://www.omnigroup.com/products/omnifocus/" target="_blank">Omnifocus</a> to effectivly manage my time.

%section.grid_7.push_1
  %h2
    My Tools
  %h3
    Currently using
  %ul.tools
    %li.grid_2
      %a.icon.tooltip.macbook{:href => "http://www.apple.com/macbookpro/", :target => "_blank", :title => "Macbook Pro"}
    %li.grid_2
      %a.icon.tooltip.sublime{:href => "http://www.sublimetext.com/2", :target => "_blank", :title => "Sublime Text"}
    %li.grid_2
      %a.icon.tooltip.espresso{:href => "http://macrabbit.com/espresso/", :target => "_blank", :title => "Espresso"}
    %li.grid_2
      %a.icon.tooltip.iterm{:href => "http://www.iterm2.com/", :target => "_blank", :title => "iTerm2"}
    %li.grid_2
      %a.icon.tooltip.omnifocus{:href => "http://www.omnigroup.com/products/omnifocus/", :target => "_blank", :title => "Omnifocus"}
    %li.grid_2
      %a.icon.tooltip.linux{:href => "https://www.linux.com/", :target => "_blank", :title => "Linux"}
    %li.grid_2
      %a.icon.tooltip.apache{:href => "http://www.apache.org/", :target => "_blank", :title => "Apache"}
    %li.grid_2
      %a.icon.tooltip.mysql{:href => "http://www.mysql.com/", :target => "_blank", :title => "MySQL"}
    %li.grid_2
      %a.icon.tooltip.php{:href => "http://php.net/", :target => "_blank", :title => "PHP"}
    %li.grid_2
      %a.icon.tooltip.nanoc{:href => "http://nanoc.stoneship.org/", :target => "_blank", :title => "Nanoc"}
    %li.grid_2
      %a.icon.tooltip.ruby{:href => "http://www.ruby-lang.org/en/", :target => "_blank", :title => "Ruby"}
    %li.grid_2
      %a.icon.tooltip.haml{:href => "http://haml-lang.com/", :target => "_blank", :title => "Haml"}
    %li.grid_2
      %a.icon.tooltip.sass{:href => "http://sass-lang.com/", :target => "_blank", :title => "Sass"}
    %li.grid_2
      %a.icon.tooltip.jquery{:href => "http://jquery.com/", :target => "_blank", :title => "jQuery"}
    %li.grid_2
      %a.icon.tooltip.git{:href => "http://git-scm.com/", :target => "_blank", :title => "Git"}
    %li.grid_2
      %a.icon.tooltip.transmit{:href => "http://www.panic.com/transmit/", :target => "_blank", :title => "Transmit"}
    %li.grid_2
      %a.icon.tooltip.alfred{:href => "http://www.alfredapp.com/", :target => "_blank", :title => "Alfred"}
    %li.grid_2
      %a.icon.tooltip.chrome{:href => "http://www.google.com/chrome", :target => "_blank", :title => "Google Chrome"}
