--- 
title: Web Developer, World Traveler
---

%section{:class => "three first"}
  %h2
    My Jams
  %p
    Stuff and Things

%section{:class => "three"}
  %h2
    My Shows
  %p
    Stuff and Things

%section{:class => "three last"}
  %h2
    My Tools
  %p
    Stuff and Things