--- 
browser_title: Web Developer, World Traveler
url: index
---

%h1
  I'm a software developer, cyclist, skier, reader, tea drinker,<br>
  and budding vegan chef living in Salt Lake City.

%section{:class => "three first"}
  %h2
    My Distractions
  %h3
    Currently listening to
  %table{:id => "listening"}
    %tr
      %td
        %img{:src => "http://userserve-ak.last.fm/serve/64s/46287109.png"}
      %td
        %a{:href => "http://www.last.fm/music/Sleigh+Bells/_/Straight+A%27s"}
          Straight A's
        <br>by Sleigh Bells<br>7 hours ago
  %h3{:class => "second"}
    Currently watching
  %table{:id => "watching"}
    %tr
      %td
        %img{:src => "/images/content/movies/doc_martin.jpg"}
      %td
        %a{:href => "http://www.amazon.com/Doc-Martin-Collection-1-4-Clunes/dp/B004KVXCB4/bobbharr-20"}
          Doc Martin
        <br>Genre: British TV<br>

%section{:class => "three"}
  %h2
    My Projects
  %h3
    Currently working on
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales dolor eget massa faucibus id porttitor velit mollis. Donec quis felis purus, nec feugiat felis. Vivamus auctor, augue ac ullamcorper blandit, libero eros rhoncus libero, tempus pulvinar ante est quis sapien. In placerat velit non nunc pharetra malesuada quis sed mi. Maecenas quis felis tellus. Ut malesuada dictum rutrum. Cras enim risus, porta vel rhoncus sed, lobortis at libero.
  %h3{:class => "second"}
    Currently learning
  %p
    I am learning cool <a href="http://www.w3.org/TR/html5-author/history.html#history" target="_blank">HTML5 browser history manipulation magic</a>, the inner workings of the <a href="http://www.archlinux.org/" target="_blank">Arch Linux distro</a>, <a href="http://www.ruby-lang.org/en/" target="_blank">Ruby</a> and, how to use <a href="http://www.omnigroup.com/products/omnifocus/" target="_blank">Omnifocus</a> to effectivly manage my time.


%section{:class => "three last"}
  %h2
    My Tools
  %h3
    Currently using
  %ul{:class => "tools"}
    %li
      %a{:href => "http://www.apple.com/macbookpro/", :target => "_blank"}
        %img{:src => "/images/icons/tools/macbook-bw.png", :title => "Macbook Pro", :alt => "Macbook Pro"}
    %li
      %a{:href => "http://www.activestate.com/komodo-ide", :target => "_blank"}
        %img{:src => "/images/icons/tools/komodo-bw.png", :title => "Komodo", :alt => "Komodo"}
    %li
      %a{:href => "http://macrabbit.com/espresso/", :target => "_blank"}
        %img{:src => "/images/icons/tools/espresso-bw.png", :title => "Espresso", :alt => "Espresso"}
    %li
      %a{:href => "http://www.iterm2.com/", :target => "_blank"}
        %img{:src => "/images/icons/tools/iterm-bw.png", :title => "iTerm", :alt => "iTerm"}
    %li
      %a{:href => "https://www.linux.com/", :target => "_blank"}
        %img{:src => "/images/icons/tools/linux-bw.png", :title => "Linux", :alt => "Linux"}
    %li
      %a{:href => "http://www.apache.org/", :target => "_blank"}
        %img{:src => "/images/icons/tools/apache-bw.png", :title => "Apache", :alt => "Apache"}
    %li
      %a{:href => "http://www.mysql.com/", :target => "_blank"}
        %img{:src => "/images/icons/tools/mysql-bw.png", :title => "MySQL", :alt => "MySQL"}
    %li
      %a{:href => "http://www.php.net/", :target => "_blank"}
        %img{:src => "/images/icons/tools/php-bw.png", :title => "PHP", :alt => "PHP"}
    %li
      %a{:href => "http://nanoc.stoneship.org/", :target => "_blank"}
        %img{:src => "/images/icons/tools/nanoc-bw.png", :title => "Nanoc", :alt => "Nanoc"}
    %li
      %a{:href => "http://www.ruby-lang.org/en/", :target => "_blank"}
        %img{:src => "/images/icons/tools/ruby-bw.png", :title => "Ruby", :alt => "Ruby"}
    %li
      %a{:href => "http://haml-lang.com/", :target => "_blank"}
        %img{:src => "/images/icons/tools/haml-bw.png", :title => "Haml", :alt => "Haml"}
    %li
      %a{:href => "http://sass-lang.com/", :target => "_blank"}
        %img{:src => "/images/icons/tools/sass-bw.png", :title => "Sass", :alt => "Sass"}
    %li
      %a{:href => "http://jquery.com/", :target => "_blank"}
        %img{:src => "/images/icons/tools/jquery-bw.png", :title => "jQuery", :alt => "jQuery"}
    %li
      %a{:href => "http://git-scm.com/", :target => "_blank"}
        %img{:src => "/images/icons/tools/git-bw.png", :title => "Git", :alt => "Git"}
    %li
      %a{:href => "http://www.panic.com/transmit/", :target => "_blank"}
        %img{:src => "/images/icons/tools/transmit-bw.png", :title => "Transmit", :alt => "Transmit"}
    %li
      %a{:href => "http://www.alfredapp.com/", :target => "_blank"}
        %img{:src => "/images/icons/tools/alfred-bw.png", :title => "Alfred", :alt => "Alfred"}
    %li
      %a{:href => "http://adium.im/", :target => "_blank"}
        %img{:src => "/images/icons/tools/adium-bw.png", :title => "Adium", :alt => "Adium"}
    %li
      %a{:href => "http://www.google.com/chrome", :target => "_blank"}
        %img{:src => "/images/icons/tools/chrome-bw.png", :title => "Google Chrome", :alt => "Google Chrome"}