--- 
browser_title: Web Developer, World Traveler
url: index
---

%h1
  I'm a software developer, cyclist, skier, reader, tea drinker,<br>
  and budding vegan chef living in Salt Lake City.

%section.three.first
  %h2
    My Distractions
  %h3
    Currently listening to
  %table#listening
    %tr
      %td
        %img{:src => "http://userserve-ak.last.fm/serve/64s/46287109.png"}
      %td
        %a{:href => "http://www.last.fm/music/Sleigh+Bells/_/Straight+A%27s"}
          Straight A's
        <br>by Sleigh Bells<br>7 hours ago
  %h3.second
    Currently watching
  %table#watching
    %tr
      %td
        %img{:src => "/images/content/movies/doc_martin.jpg"}
      %td
        %a{:href => "http://www.amazon.com/Doc-Martin-Collection-1-4-Clunes/dp/B004KVXCB4/bobbharr-20"}
          Doc Martin
        <br>Genre: British TV<br>
  %h3.second
    Currently reading
  %table#reading
    %tr
      %td
        %img{:src => "/images/content/books/rails.jpg"}
      %td
        %a{:href => "http://www.amazon.com/Agile-Development-Rails-Pragmatic-Programmers/dp/1934356549/bobbharr-20"}
          Agile Web Development with Rails
        <br>by Sam Ruby<br>

%section#projects.three
  %h2
    My Projects
  %h3
    Currently working on
  %p
    I am working on several exciting projects: <a href="http://camelize.com/" target="_blank">Camelize Me</a>
    is a little tool that converts arbitrary text to camel case, <a href="http://www.utahranks.com" target="_blank">
    Utah Ranks</a> is a simple ranking and statistics repository for the state of Utah,
    <a href="https://github.com/klanoma/simple-php-framework" target="_blank">Simple PHP Framework</a>
    is a custom PHP framework I use for client work based on an open source project from
    <a href="http://clickontyler.com/simple-php-framework/">Tyler Hall</a>, and I am always working on a few 
    <a href="http://www.imdb.com/title/tt0088286/" target="_blank">super top secret</a> ventures.
  %h3.second
    Currently learning
  %p
    My favorite thing at the moment is the <a href="http://nanoc.stoneship.org/" target="_blank">Nanoc</a> static site generator.
    I am also learning cool <a href="http://www.w3.org/TR/html5-author/history.html#history" target="_blank">HTML5 browser
    history manipulation</a> magic, the inner workings of the <a href="http://www.archlinux.org/" target="_blank">Arch Linux</a> distro,
    <a href="http://www.ruby-lang.org/en/" target="_blank">Ruby</a>, <a href="http://jashkenas.github.com/coffee-script/" target="_blank">
    CoffeeScript</a>, <a href="http://en.wikipedia.org/wiki/Scalability" target="_blank">application scalability</a>,
    the art of <a href="http://en.wikipedia.org/wiki/Zen" target="_blank">Zen</a>, and how to use
    <a href="http://www.omnigroup.com/products/omnifocus/" target="_blank">Omnifocus</a> to effectivly manage my time.

%section.three.last
  %h2
    My Tools
  %h3
    Currently using
  %ul.tools
    %li
      %a{:href => "http://www.apple.com/macbookpro/", :target => "_blank"}
        %img{:src => "/images/icons/tools/macbook-bw.png", :title => "Macbook Pro", :alt => "Macbook Pro"}
    %li
      %a{:href => "http://www.activestate.com/komodo-ide", :target => "_blank"}
        %img{:src => "/images/icons/tools/komodo-bw.png", :title => "Komodo", :alt => "Komodo"}
    %li
      %a{:href => "http://macrabbit.com/espresso/", :target => "_blank"}
        %img{:src => "/images/icons/tools/espresso-bw.png", :title => "Espresso", :alt => "Espresso"}
    %li
      %a{:href => "http://www.iterm2.com/", :target => "_blank"}
        %img{:src => "/images/icons/tools/iterm-bw.png", :title => "iTerm", :alt => "iTerm"}
    %li
      %a{:href => "https://www.linux.com/", :target => "_blank"}
        %img{:src => "/images/icons/tools/linux-bw.png", :title => "Linux", :alt => "Linux"}
    %li
      %a{:href => "http://www.apache.org/", :target => "_blank"}
        %img{:src => "/images/icons/tools/apache-bw.png", :title => "Apache", :alt => "Apache"}
    %li
      %a{:href => "http://www.mysql.com/", :target => "_blank"}
        %img{:src => "/images/icons/tools/mysql-bw.png", :title => "MySQL", :alt => "MySQL"}
    %li
      %a{:href => "http://www.php.net/", :target => "_blank"}
        %img{:src => "/images/icons/tools/php-bw.png", :title => "PHP", :alt => "PHP"}
    %li
      %a{:href => "http://nanoc.stoneship.org/", :target => "_blank"}
        %img{:src => "/images/icons/tools/nanoc-bw.png", :title => "Nanoc", :alt => "Nanoc"}
    %li
      %a{:href => "http://www.ruby-lang.org/en/", :target => "_blank"}
        %img{:src => "/images/icons/tools/ruby-bw.png", :title => "Ruby", :alt => "Ruby"}
    %li
      %a{:href => "http://haml-lang.com/", :target => "_blank"}
        %img{:src => "/images/icons/tools/haml-bw.png", :title => "Haml", :alt => "Haml"}
    %li
      %a{:href => "http://sass-lang.com/", :target => "_blank"}
        %img{:src => "/images/icons/tools/sass-bw.png", :title => "Sass", :alt => "Sass"}
    %li
      %a{:href => "http://jquery.com/", :target => "_blank"}
        %img{:src => "/images/icons/tools/jquery-bw.png", :title => "jQuery", :alt => "jQuery"}
    %li
      %a{:href => "http://git-scm.com/", :target => "_blank"}
        %img{:src => "/images/icons/tools/git-bw.png", :title => "Git", :alt => "Git"}
    %li
      %a{:href => "http://www.panic.com/transmit/", :target => "_blank"}
        %img{:src => "/images/icons/tools/transmit-bw.png", :title => "Transmit", :alt => "Transmit"}
    %li
      %a{:href => "http://www.alfredapp.com/", :target => "_blank"}
        %img{:src => "/images/icons/tools/alfred-bw.png", :title => "Alfred", :alt => "Alfred"}
    %li
      %a{:href => "http://adium.im/", :target => "_blank"}
        %img{:src => "/images/icons/tools/adium-bw.png", :title => "Adium", :alt => "Adium"}
    %li
      %a{:href => "http://www.google.com/chrome", :target => "_blank"}
        %img{:src => "/images/icons/tools/chrome-bw.png", :title => "Google Chrome", :alt => "Google Chrome"}