---
browser_title: "| Freelance Web Development, Salt Lake City, Utah"
url: index
meta_description: "William Youmans is a web developer available for hire. He specializes in object oriented PHP and Ruby on Rails."
---

%h1
  I'm a software developer, cyclist, skier, reader, tea drinker,<br>
  and budding vegan chef living in Salt Lake City.

%section.three.first
  %h2
    My Distractions
  %h3
    Currently listening to
  %table#listening
    %tr
      %td
        %img{:src => "/images/content/music/band_of_horses.jpg"}
      %td
        %a{:href => "http://www.last.fm/music/Band+of+Horses/_/The+Great+Salt+Lake"}
          Great Salt Lake
        <br>by Band of Horses<br>
  %h3.second
    Currently watching
  %table#watching
    %tr
      %td
        %img{:src => "/images/content/movies/veronica_mars.jpg"}
      %td
        %a{:href => "http://www.amazon.com/Veronica-Mars-Complete-First-Season/dp/B000A59PMO/bobbharr-20"}
          Veronica Mars
        <br>Genre: Mystery<br>
  %h3.second
    Currently reading
  %table#reading
    %tr
      %td
        %img{:src => "/images/content/books/rails.jpg"}
      %td
        %a{:href => "http://www.amazon.com/Agile-Development-Rails-Pragmatic-Programmers/dp/1934356549/bobbharr-20"}
          Agile Web Development with Rails
        <br>by Sam Ruby<br>

%section#projects.three
  %h2
    My Projects
  %h3
    Currently working on
  %p
    I am working on several exciting projects: <a href="http://camelize.com/" target="_blank">Camelize Me</a>
    is a little tool that converts arbitrary text to camel case, <a href="http://www.utahranks.com" target="_blank">
    Utah Ranks</a> is a simple ranking and statistics repository for the state of Utah,
    <a href="https://github.com/klanoma/simple-php-framework" target="_blank">Simple PHP Framework</a>
    is a custom PHP framework I use for client work based on an open source project from
    <a href="http://clickontyler.com/simple-php-framework/">Tyler Hall</a>, and I am always working on a few
    <a href="http://www.imdb.com/title/tt0088286/" target="_blank">super top secret</a> ventures.
  %h3.second
    Currently learning
  %p
    My favorite thing at the moment is the <a href="http://nanoc.stoneship.org/" target="_blank">Nanoc</a> static site generator.
    I am also learning cool <a href="http://www.w3.org/TR/html5-author/history.html#history" target="_blank">HTML5 browser
    history manipulation</a> magic, the inner workings of the <a href="http://www.archlinux.org/" target="_blank">Arch Linux</a> distro,
    <a href="http://www.ruby-lang.org/en/" target="_blank">Ruby</a>, <a href="http://jashkenas.github.com/coffee-script/" target="_blank">
    CoffeeScript</a>, <a href="http://en.wikipedia.org/wiki/Scalability" target="_blank">application scalability</a>,
    the art of <a href="http://en.wikipedia.org/wiki/Zen" target="_blank">Zen</a>, and how to use
    <a href="http://www.omnigroup.com/products/omnifocus/" target="_blank">Omnifocus</a> to effectivly manage my time.

%section.three.last
  %h2
    My Tools
  %h3
    Currently using
  %ul.tools
    %li
      %a{:href => "http://www.apple.com/macbookpro/", :target => "_blank", :title => "Macbook Pro", :alt => "Macbook Pro", :class => "icon tooltip macbook"}
    %li
      %a{:href => "http://www.sublimetext.com/2", :target => "_blank", :title => "Sublime Text", :alt => "Sublime Text", :class => "icon tooltip sublime"}
    %li
      %a{:href => "http://macrabbit.com/espresso/", :target => "_blank", :title => "Espresso", :alt => "Espresso", :class => "icon tooltip espresso"}
    %li
      %a{:href => "http://www.iterm2.com/", :target => "_blank", :title => "iTerm2", :alt => "iTerm", :class => "icon tooltip iterm"}
    %li
      %a{:href => "https://www.linux.com/", :target => "_blank", :title => "Linux", :alt => "Linux", :class => "icon tooltip linux"}
    %li
      %a{:href => "http://www.apache.org/", :target => "_blank", :title => "Apache", :alt => "Apache", :class => "icon tooltip apache"}
    %li
      %a{:href => "http://www.mysql.com/", :target => "_blank", :title => "MySQL", :alt => "MySQL", :class => "icon tooltip mysql"}
    %li
      %a{:href => "http://www.omnigroup.com/products/omnifocus/", :target => "_blank", :title => "Omnifocus", :alt => "Omnifocus", :class => "icon tooltip omnifocus"}
    %li
      %a{:href => "http://nanoc.stoneship.org/", :target => "_blank", :title => "Nanoc", :alt => "Nanoc", :class => "icon tooltip nanoc"}
    %li
      %a{:href => "http://www.ruby-lang.org/en/", :target => "_blank", :title => "Ruby", :alt => "Ruby", :class => "icon tooltip ruby"}
    %li
      %a{:href => "http://haml-lang.com/", :target => "_blank", :title => "Haml", :alt => "Haml", :class => "icon tooltip haml"}
    %li
      %a{:href => "http://sass-lang.com/", :target => "_blank", :title => "Sass", :alt => "Sass", :class => "icon tooltip sass"}
    %li
      %a{:href => "http://jquery.com/", :target => "_blank", :title => "jQuery", :alt => "jQuery", :class => "icon tooltip jquery"}
    %li
      %a{:href => "http://git-scm.com/", :target => "_blank", :title => "Git", :alt => "Git", :class => "icon tooltip git"}
    %li
      %a{:href => "http://www.panic.com/transmit/", :target => "_blank", :title => "Transmit", :alt => "Transmit", :class => "icon tooltip transmit"}
    %li
      %a{:href => "http://www.alfredapp.com/", :target => "_blank", :title => "Alfred", :alt => "Alfred", :class => "icon tooltip alfred"}
    %li
      %a{:href => "http://adium.im/", :target => "_blank", :title => "Adium", :alt => "Adium", :class => "icon tooltip adium"}
    %li
      %a{:href => "http://www.google.com/chrome", :target => "_blank", :title => "Google Chrome", :alt => "Google Chrome", :class => "icon tooltip chrome"}
