html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "BanksiaBold";
  src: url(/fonts/banksb20eot.eot) format('opentype'), url(/fonts/banksb20woff.woff) format('woff'), url(/fonts/banksb20ttf.ttf) format('truetype'), url(/fonts/banksb20svg.svg#BanksiaBold) format('svg');
}

@font-face {
  font-family: "BanksiaRegular";
  src: url(/fonts/banksiaeot.eot) format('opentype'), url(/fonts/banksiawoff.woff) format('woff'), url(/fonts/banksiattf.ttf) format('truetype'), url(/fonts/banksiasvg.svg#BanksiaRegular) format('svg');
}

* {
  margin: 0;
  padding: 0;
}

*:active, *:focus {
  outline: 0;
}

body {
  color: #223344;
  margin: 0;
  padding: 0;
  background-color: #aac8e0;
  background-image: url("/images/shade.jpg");
  background-repeat: repeat-x;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

a {
  text-decoration: none;
}

a {
  color: #223344;
}
a:visited {
  color: #cc6600;
}
a:hover {
  color: #223344;
}
a:active {
  color: #cc6600;
}

h1, h2, h3, h4 {
  font-family: "BanksiaRegular", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 10px 0;
}

h1 {
  font-size: 30px;
  line-height: 34px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

.clear {
  clear: both;
}

#container {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
}
#container header {
  margin: 150px 0 0 0;
  text-align: center;
  position: relative;
  height: 173px;
}
#container header nav {
  text-align: left;
  position: absolute;
  bottom: 0;
}
#container header nav ul {
  margin: 0;
  padding: 0;
}
#container header nav ul li {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  padding: 0;
  margin: 0;
  *display: inline;
  text-align: center;
}
#container header nav ul li a {
  display: block;
  padding: 15px 0;
  width: 100px;
  color: #223344;
}
#container footer {
  text-alight: right;
  margin: 0 0 20px 0;
}
#container #content {
  padding: 20px 0 40px 0;
}
#container #content .three {
  width: 31%;
  float: left;
  margin: 0 10px;
}
#container #content .three.first {
  margin-left: 0;
}
#container #content .three.last {
  margin-right: 0;
}

body.blog #container header nav ul li.blog a, body.portfolio #container header nav ul li.portfolio a, body.index #container header nav ul li.index a, body #container header nav ul li a:hover {
  color: #223344;
  background-image: linear-gradient(bottom, #96aabe 2%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, #96aabe 2%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, #96aabe 2%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(bottom, #96aabe 2%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(bottom, #96aabe 2%, rgba(0, 0, 0, 0) 100%);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}
