html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "BanksiaBold";
  src: url(/fonts/banksb20eot.eot) format('opentype'), url(/fonts/banksb20woff.woff) format('woff'), url(/fonts/banksb20ttf.ttf) format('truetype'), url(/fonts/banksb20svg.svg#BanksiaBold) format('svg');
}

@font-face {
  font-family: "BanksiaRegular";
  src: url(/fonts/banksiaeot.eot) format('opentype'), url(/fonts/banksiawoff.woff) format('woff'), url(/fonts/banksiattf.ttf) format('truetype'), url(/fonts/banksiasvg.svg#BanksiaRegular) format('svg');
}

* {
  margin: 0;
  padding: 0;
}

*:active, *:focus {
  outline: 0;
}

body {
  color: #223344;
  margin: 0;
  padding: 0;
  background-color: #aac8e0;
  background-image: url("/images/shade.jpg");
  background-repeat: repeat-x;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

a {
  color: white;
}
a:visited {
  color: #1b2949;
}
a:hover {
  color: #1b2949;
}
a:active {
  color: #1b2949;
}

h1, h2, h3, h4 {
  font-family: "BanksiaBold";
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

.clear {
  clear: both;
}

#container {
  border: 1px solid yellow;
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
}
#container header {
  margin: 150px 0 0 0;
  text-align: center;
  border: 1px solid red;
}
#container header nav {
  border: 1px solid green;
  text-align: left;
}
#container footer {
  border: 1px solid pink;
}
#container section#content {
  border: 1px solid orange;
}
