body#index {
  h1 {
    text-align: center;
  }

  ul.tools {
    li {
      overflow: hidden;
      height: 50px;
      margin: 15px;
      float: left;
    }
    .icon {
      display:inline-block;
      zoom:1;
      *display:inline;
      height: 50px;
      width: 50px;
      background: transparent url(/images/icons/tools.png) no-repeat 0 50px;
      &.alfred {
        background-position: 0 -100px;
      }
      &.apache {
        background-position: 0 -150px;
      }
      &.chrome {
        background-position: 0 -200px;
      }
      &.espresso {
        background-position: 0 -250px;
      }
      &.git {
        background-position: 0 -300px;
      }
      &.haml {
        background-position: 0 -350px;
      }
      &.iterm {
        background-position: 0 -400px;
      }
      &.jquery {
        background-position: 0 -450px;
      }
      &.linux {
        background-position: 0 -500px;
      }
      &.macbook {
        background-position: 0 -550px;
      }
      &.mysql {
        background-position: 0 -600px;
      }
      &.nanoc {
        background-position: 0 -650px;
      }
      &.omnifocus {
        background-position: 0 -700px;
      }
      &.php {
        background-position: 0 -750px;
      }
      &.ruby {
        background-position: 0 -800px;
      }
      &.sass {
        background-position: 0 -850px;
      }
      &.sublime {
        background-position: 0 -900px;
      }
      &.transmit {
        background-position: 0 -950px;
      }
      &:hover {
        background-position: 0 0;
      }
    }
  }

  #watching, #listening, #reading {
    img {
      padding-right: 10px;
      width: 100px;
    }
  }

  #projects {
    img {
      vertical-align: middle;
      width: 45%;
    }
  }
}