body.photos {
  .post {
    text-align: center;
    margin-bottom: 45px;
    h2 {
      border-bottom: 1px solid $orange;
      margin: 0 auto 30px auto;
      width: 500px;
      position: relative;
      height: 10px;
      overflow: visible;
      span {
        display:inline-block;
        zoom:1;
        *display:inline;
        top: 10px;
        background-color: $light_blue;
        padding: 0 10px;
      }
    }
  }
}